html, body {
	height: 100%;
}

div#header-wrapper {
	background-image: url(https://www.minecraft.net/content/dam/games/earth/key-art/SunsetMCE_KeyArt_1170_NoLogo.jpg);
	background-size: cover;
	background-position: center;
}

div#header {
	background-color: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
}

img#logo {
	height: 10rem;
}

#title, #subtitle {
	color: #fff;
}

#title {
	font-size: 5rem;
}

.section {
	height: 20%;
}

img.filler {
	max-height: 40rem;
	max-width: 100%;
}

pre {
	display: inline;
}

a {
	text-decoration: none;
}

.scroll-to-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: inline;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background: rgba(52,58,64,.5);
	line-height: 45px;
	transition: opacity 0.5s;
	opacity: 0;
	visibility: hidden;
}

.scroll-to-top.show {
	opacity: 1;
	visibility: visible;
}

.scroll-to-top:focus,.scroll-to-top:hover {
	color: #fff;
}

.scroll-to-top:hover {
	background: #343a40;
}

.scroll-to-top i {
	font-weight: 800;
}

a#down {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}
